<!DOCTYPE html>
<html>
<head>
  <title>RailsInfoTasks</title>
  <%= stylesheet_link_tag    "rails_info_tasks/application", media: "all" %>
  <%= javascript_include_tag "rails_info_tasks/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
